.paletButton {
    width: 1em;
    height: 1em;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0;
    background-image: url('img/palitra_gray3.png'); background-size: contain; background-repeat: no-repeat;
    border-radius: 50%;
}
.content:hover .paletButton {
    opacity: 1;
}
.paletButton:hover{ 
    cursor: pointer;
    background-image: url('img/palitra_white3.png'); background-size: contain; background-repeat: no-repeat;
}





